@import '../../styles/config';

.containerOrder {
    border: solid;
    padding: 1rem;
    margin: 0.5rem;
}

.table {
    background-color: $color-secondary;
    color: $color-primary;
    padding: 0.5rem;
}


.title {
    font-size: 1rem;
    font-weight: bold;
}

.buttonRegisterItemOrder {
    border: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.buttonRegisterItemOrder:hover {
    cursor: pointer;
}