@import '../../styles/config';

.containerOrder {
    border: solid 5px #a3ffaa;
    padding: 1rem;
    margin: 0.5rem;
}

.table {
    color: #a3ffaa;
    padding: 0.5rem;
}


.title {
    font-size: 1rem;
    font-weight: bold;
}

.buttonRegisterItemOrder {
    border: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #a3ffaa;
}

.buttonRegisterItemOrder:hover {
    cursor: pointer;
}