.conteinerDeactivate {
    padding: 12px;
    text-align: center;
    border: solid 5px rgb(255, 115, 115);
    margin-top: 16px;
}

.button {
    border: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: rgb(255, 115, 115);
}

.button:hover {
    cursor: pointer;
}

.title {
    color: rgb(255, 115, 115);
}