@import '../../styles/utils';

.container {
	padding: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $color-secondary;
	text-align: center;
	gap: 0.5rem;
	width: 100%;
}

.header {
	font-size: 1.5rem;
	color: $color-secondary;
	text-align: center;
	background-color: #f5e8ae;
	color: $color-primary;
	width: 100%;
}

.containerTable {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-bottom: solid 1px $color-secondary;
	margin-top: 1rem;
	border: solid #f5e8ae 5px;
	padding: 1rem;

}

.numberTable {
	color: #f5e8ae;
	padding: 0.5rem;
}


.button {
	border: none;
	padding: 0.5rem;
	margin-top: 0.5rem;
	background-color: #f5e8ae;
}

.button:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
	.container {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.containerTable {
		width: 19%;
		height: 250px;
	}

}