@import '../../styles/utils';

.container {
	padding: 12px;
	background-color: #272727;
	color: $color-secondary;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}

.containerOrder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: solid 1px $color-secondary;
	margin-top: 1rem;
	border: solid;
	text-align: center;
	gap: 0.5rem;
	padding: 1rem;
}

.header {
	font-size: 1.5rem;
	color: $color-secondary;
	text-align: center;
	padding: 12px;
	background-color: #272727;
}

.title {
	font-weight: bold;
}

.description {
	font-weight: 400;
}

.table {
	background-color: $color-secondary;
	color: $color-primary;
	padding: 0.5rem;
}

.button {
	padding: 0.5rem;
}

.button:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
	.container {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

}